@charset "UTF-8";

///*QNA*/
.qna {
  border-top: 1px solid #000;
  background: #fff;
  text-align: left;

  &.type_b {
    // 버튼 변경
    .qna-header a {
      background: none !important;
    }

    .qna-header {
      a {
        position: relative;

        &.select {
          &:before {
            -webkit-transform: rotate(0);
            transform: rotate(0);
          }
        }

        &:before,
        &:after {
          background-color: rgba(#000, 0.8);
          width: 14px;
          height: 2px;
          position: absolute;
          right: 22px;
          top: 50%;
          margin-top: -1px;
          content: '';
          -webkit-transition: all 0.5s;
          transition: all 0.5s;

          @include mdq-max(lg) {
            right: 12px;
          }
        }

        &:before {
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
        }

        &:after {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }

  .qna-header {
    padding: 15px 10px;
    position: relative;
    border-bottom: solid 1px #ddd;

    &.select {
      color: $mc;

      a {
        color: $mc;
        background: url(../images/qna/qna-down.png) no-repeat right center;
      }

      &:before {
        color: $mc;
      }
    }

    &:before {
      content: 'Q.';
      position: absolute;
      top: 50%;
      left: 15px;
      font-size: 20px;
      margin-top: -15px;
      font-weight: 500;
    }

    a {
      display: block;
      padding-left: 40px;
      padding-right: 30px;
      text-decoration: none;
      font-size: 1.1em;
      font-weight: 400;
      color: #222;
      background: url(../images/qna/qna-up.png) no-repeat right center;

      @include mdq-max(lg) {
        font-size: 14px;
      }

      &:hover {
        color: $mc;
      }
    }
  }

  .qna-body {
    display: none;
    padding: 20px 20px 20px 50px;
    line-height: 1.5;
    color: #333;
    border-bottom: solid 1px #ddd;
    position: relative;
    background: #f6f6f6;

    @include mdq-max(lg) {
      font-size: 14px;
    }

    &:before {
      content: 'A.';
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 20px;
      font-weight: 500;
      color: $mc;
    }
  }

  &_tab {
    margin-bottom: 30px;

    ul {
      text-align: center;

      li {
        float: left;

        a {
          display: block;
          position: relative;
          height: 45px;
          line-height: 45px;
          text-align: center;
          font-size: 16px;
          color: #666;
          border: 1px solid #ddd;
          background: #fff;
          margin-left: -1px;
          margin-top: -1px;

          &.on,
          &:hover {
            color: #fff;
            border-color: $mc;
            background: $mc;
          }
        }
      }
    }

    @include mdq-max(lg) {
      margin-bottom: 20px;

      ul {
        li {
          a {
            height: 35px;
            font-size: 13px;
            line-height: 35px;
            letter-spacing: -0.8px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}